body {
	font-family: sans-serif;
	font-size: small;
}
form{
	font-family: "Microsoft YaHei UI", serif;
	font-size: 110%;
}

h1{
	color:cadetblue;
}

div.errors{
	border: 1px solid wheat;
}

span.error{
	color: red;
}

label.error{
	color: red;
}

div{
	color: red;
}

input.error{
	color: red;
}